.form-group select.search-fields {
    width: 100%;
    padding: 5px !important;
}


/** admin form start **/

.other-hide
{
    display:none;
}

.other-show
{
    display:block;
}

.admin-form .contact-info {
    text-align: center;
}

    .admin-form .contact-info strong {
        font-weight: 500;
        font-size: 14px;
        color: #525252;
    }

    .admin-form .contact-info i {
        font-size: 24px;
        color: #212529;
    }

    .admin-form .contact-info p {
        margin: 0;
        font-size: 15px;
    }

.admin-form .form-control {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    outline: 0;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}

    .admin-form .form-control:focus {
        color: #495057;
        background-color: transparent;
        border: 1px solid #dbdbdb;
        outline: 0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
    }

.admin-form .form-group {
    margin-bottom: 20px;
}

.admin-form textarea {
    min-height: 250px;
}

.admin-form .btn-message {
    border-radius: 50px;
    padding: 10px 60px 11px;
}

.contact-map {
    height: 350px !important;
}

.contact-map-content .map-content {
    width: 250px;
}

.admin-form .contact-info-2 {
    padding: 40px;
    border-radius: 5px;
    margin-left: 50px;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

    .admin-form .contact-info-2 .ci-box i {
        width: 45px;
        line-height: 50px;
        margin-right: 5px;
        font-size: 33px;
    }

    .admin-form .contact-info-2 .ci-box h5 {
        font-weight: 500;
        font-size: 16px;
        margin: 0 0 5px;
    }

    .admin-form .contact-info-2 .ci-box p {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 0;
    }

    .admin-form .contact-info-2 .ci-box {
        margin: 0 0 30px 0;
        position: relative;
        width: 100%;
    }

.admin-form .ci-box .icon {
    position: absolute;
}

.admin-form .ci-box .detail {
    margin-left: 50px;
}