.form-group select.search-fields {
    width: 100%;
    padding: 5px !important;
}

.view-cars-outer-container {
    background-image: url('../img/static/carimage4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding:0;
}

.container-fluid-inner {
   
    padding: 15px;
    padding-top: 20px;
}

.view-cars-outer-container .container-fluid {
    /*background-color: white;*/
    padding-left: 0;
    padding-right: 0;
    background: rgba(0,0,0,0.6);
    height:100vh;
    padding-top:75px;
}

.add-new-car-outer-container {
    /*background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(240,21,31,1) 61%, rgba(255,0,108,1) 72%);*/
    background-image: url('../img/static/carimage4.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

    .add-new-car-outer-container .container {
        /*background-color: white;*/
        background: rgba(0,0,0,0.6);
        padding: 0;
        padding-top: 20px;
        border-radius: 10px;
    }

.add-new-car-outer-container .container .main-title {
    padding-bottom: 10px;
    border-bottom: 2px solid red;
}

.add-new-car.main-title h1
{
    color:white;
}
.add-new-car.main-title p {
    color: white;
}

/**admin section - add car form **/
.add-new-car-form-section-header {
    font-weight: 500;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #f0151f;
}

.add-new-car-form-section-header span {
    color: #f0151f
}

.add-new-car-form-section-header h2 {
    font-size: 20px;
}

::-webkit-input-placeholder {
    color: peachpuff;
    font-size: 13px;
}

::-moz-placeholder {
    color: peachpuff;
    font-size: 13px;
}

:-ms-input-placeholder {
    color: peachpuff;
    font-size: 13px;
}

::placeholder {
    color: peachpuff;
    font-size: 13px;
}



/** admin form start **/
.other-hide {
    display: none;
}

.other-show {
    display: block;
}

#manage-car-form-wizard section {
    overflow: scroll;
}

#validation-errors {
    padding-left:25px;
    margin-bottom:10px;
}
#validation-errors li {
    list-style-type: disc;
    font-size:15px;
    color:white
}

.detail .title a span.trim-name-view{
    color:black !important;
    text-decoration:underline !important;
}

h3.add-new-link a span{
    color:white;
}
h3.add-new-link:hover a {
    text-decoration: underline;
    color:white;
}

th{
    color:white;
}

#table_id_filter label{
    color:white;
}

#table_id_info{
    color:white;
}
.paginate_button {
    color: white;
}

#table_id_paginate {
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
}

#table_id_wrapper label{
    color:white;
}

.dataTables_scrollBody{
    max-height:none !important;
    height:auto !important;
}